.form-container h2 {
  text-align: center;
  color: #fff;
  font-size: 25px;
  margin-bottom: 25px;
}

.form-group {
  display: flex;
  padding: 5px;
  align-items: center;
  margin-bottom: 5px;
}

.form-group label {
  flex: 1;
  color: #fff;
  margin-right: 10px;
  text-align: left;
}

.form-group div {
  flex: 2;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-group input[type="file"] {
  padding: 7px;
  margin-bottom: 10px;
}

.form-group select,
.form-group input[type="text"] {
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #b3a1c7;
  color: #fff;
}

.form-group select option {
  background-color: #b3a1c7;
  color: #fff;
}

.form-group select option[value=""] {
  color: #ccc;
}

.error {
  color: rgb(0, 0, 0);
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 3px;
  font-weight: bold;
}

.error::before {
  content: "* ";
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #b3a1c7;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #a18bbf;
}
