/* General body styling */
.body {
    padding-top: 10vh; /* To prevent overlap with NavBar */
    background-color: #E1D3FA;
    /* Light purple background */
    display: flex;
    justify-content: space-between; /* Align logo on left and payment box on right */
    align-items: center;
    height: 100vh;
    padding: 0 5vw; /* Add horizontal padding */
  }
  
  /* Logo styling */
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 150px;
  }
  
  .logo-image {
    width: 350px;
    height: auto;
  }
  
  /* Payment options container */
  .payment-options {
    background-color:#2c1b47; /* Purple background */
    padding: 20px;
    border-radius: 10px;
    margin-right: 100px;
    width: 40%; /* Control width */
    text-align: center;
  }
  
  /* Header */
  .payment-options h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Individual option buttons */
  .payment-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d9c4ea;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 12px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Hover and click effects */
  .payment-option:hover {
    background-color: #d5a9f2;
  }
  
  .payment-option:active {
    background-color: #9b4ebf;
  }
  
  /* Payment logo */
  .payment-option img {
    width: 40px;
    height: auto;
  }
  
  /* Next button */
  .next-button {
    background-color: #d9c4ea;
    color: #000;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .next-button:hover {
    background-color: #d5a9f2;
  }
  
  .next-button:active {
    background-color:#9b4ebf;
  }
  