* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: Arial, sans-serif;
  background-color: #e8d7f1;
  height: 100%; /* Full height */
   /* Disable scrolling */
}

.app {
  display: flex;
  height: 100vh; /* Full height */
}

.main-content {
  margin-top: 70px;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
   /* Allow scrolling inside content if needed */
}

